h1{
    color: red;
}

p{
    color: brown;
}

body{
    background-color:rgb(200,10,255); 
}

button{
    color: blue;
    background-color: chocolate;
}
 
h2{
    color: azure;
}

h3{
    color: gray;
}